body {
    background-color: #212d40;
}

h1 {
    color: #ffffff;
}

p {
    color:#ffffff;
}

.angery {
    background-color: #46494c;
    color: #ff0000;
}

tr {
    color: #ffffff;
}

li {
    color: #ffffff
}